<ion-view view-title="Homepage" ng-controller="HomepageCtrl">
	<ion-content>
		
		<div class="header-container">
			<img ng-src={{getuserprofilepic()}} class="userpic" />
			<h4 class="title">Welcome, {{username}}!</h4>
			<a class="logout-button" href="#"><i class="icon ion-power"></i></a>
		</div>
		
		<div class="content has-header">
			<!-- <div class="logout-container">
				<button type="button" class="button button-assertive" ng-click="logoutUser()">Logout</button>
			</div> -->
			<h4>Your upcoming deadlines</h4>
			<div id="message-list"></div>
			<ul class="list">
		        <li class="item item-checkbox checkbox-calm" ng-repeat="subj in events() track by $index" id="listItem{{$index}}">
		           <div class="checkbox">
		             <input type="checkbox" ng-model="event.checked[$index]" ng-click="markAsComplete(subj, $index, event.checked[$index]);">
		           </div>
		           <div ng-class="{doneClass:checkModel(event.checked[$index])==true}" class="event-details">
		           		<span class="eventname">{{subj.name}}</span>
		           		<span class="assignmentname">{{subj.title}}</span>
		           		<span class="duedate">{{subj.due}}</span><span class="doneMessage" ng-if="checkModel(event.checked[$index])==true;">Completed!</span>
		           		<a href="" ng-show="checkModel(event.checked[$index])==true;" class="delete-event" ng-click="openDeleteModal(subj, event.checked[$index], $index);"><i class="icon ion-trash-b"></i></a>
		           </div>
		           <!-- deleteEvent(subj) -->
		        </li>
		      </ul>

			  <script id="calendar-modal.html" type="text/ng-template">
				  <ion-modal-view>
				    <ion-header-bar>
				      <h1 class="title">Calendar events</h1>
				    </ion-header-bar>
				    <ion-content>
				      <div class="delete-message">
				      	<h5>All incomplete assignments have been added to your calendar as events. You may choose to delete them from the list.</h5>
				      	<button class="button button-assertive button-primary" ng-click="closeCalModal()">Okay</button>
				      </div>
				      
				    </ion-content>
				  </ion-modal-view>
			  </script>

			  <script id="event-modal.html" type="text/ng-template">
				  <ion-modal-view>
				    <ion-header-bar>
				      <h1 class="title">Delete deadline</h1>
				    </ion-header-bar>
				    <ion-content>
				      <div class="delete-message">
				      	<h5>You have marked the assignment to be complete! Are you sure you want to remove it from the list?</h5>
				      	<button class="button button-assertive button-primary" ng-click="deleteEvent()">Confirm</button>
				      	<button class="button button-assertive button-primary" ng-click="closeModal()">Cancel</button>
				      </div>
				      
				    </ion-content>
				  </ion-modal-view>
			  </script>

		</div>	

		<div class="calendar-button-container">
			<button type="button" class="button button-assertive" ng-click="addToCalendar();openCalModal();">Add Events to Google Calendar</button>
		  </div>
			
		</ion-content>
</ion-view>