<ion-view view-title="Homepage" ng-controller="HomepageCtrl">
	<ion-content>
		
		<div class="header-container">
			<img ng-src={{userprofilepic}} class="userpic" />
			<h4 class="title">Welcome, {{username}}! Your upcoming deadlines</h4>
		</div>
		
		<div class="content has-header">
			<div class="logout-container">
				<button type="button" class="button button-assertive" ng-click="logoutUser()">Logout</button>
			</div>
			<div id="message-list"></div>
			<ul class="list">
		        <li class="item item-checkbox" ng-repeat="subj in initData() track by $index">
		           <label class="checkbox">
		             <input type="checkbox" ng-click="markAsComplete(subj, $index); eventChecked =! eventChecked">
		           </label>
		           <label ng-class="{doneClass:eventChecked}"><span class="eventname">{{subj.name}}</span><span class="assignmentname">{{subj.title}}</span><span class="duedate">{{subj.due}}</span><span class="doneMessage" ng-if="eventChecked">Completed!</span></label>
		        </li>
		      </ul>
		      <div class="calendar-button-container">
				<button type="button" class="button button-assertive" ng-disabled="">Add to Google Calendar</button>
			  </div>
		</div>	
			
		</ion-content>
</ion-view>