
/* login styles */
body{
	font-family: 'Open Sans', sans-serif;
}
h1.app-title{
	color: #333333;
	text-align: center;
	margin: 40px 0 20px;
	padding: 0 10px;
}
p.app-tagline{
	text-align: center;
	color: #333333;
	font-size: 14px;
	font-weight: bolder;
	padding: 0 10px;
}
.app-logo{
	text-align: center;
	margin: 40px 0;
}
.login-container.pane{
	background-color: #A7FFEB;
}
.google-signin{
	text-align: center;
	margin-top: 80px;
}
.google-signin .button{
	width: 300px;
}

/* homepage styles */
.content.has-header{
	top: 0;
}

.content h4{
	margin: 20px 0 20px 20px;
	color: #333333;
}

.header-container{
	text-align: center;
	padding: 10px 0;
    background-color: #333333;
}

.header-container h4{
	color: #efefef;
    font-weight: normal;
    display: inline-block;
    margin-left: 45px;
}

.header-container a.logout-button{
	display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 20px;
    padding: 10px;
    color: #A7FFEB;
}

.header-container img.userpic{
	height: 35px;
    width: 35px;
    border: 1px solid #A7FFEB;
    border-radius: 50%;
    position: absolute;
}

.logout-container{
	text-align: right;
}

.logout-container .button-assertive{
	margin: 10px 10px 10px 0;
}

.calendar-button-container{
	text-align: center;
}

.calendar-button-container button{
	width: 300px;
	margin-bottom: 20px;
}

li.item{
	font-size: 14px;
}

li.item .doneClass > span{
	text-decoration: line-through;
}

li.item .doneClass > span.doneMessage{
	color: #387ef5;
	text-decoration: none;
	width: 10%;
}

li.item span{
	width: 25%;
	display: inline-block;
}

li.item span.eventname{
	width: 20%;
}

a.delete-event{
	color: #ef473a;
	font-size: 20px;
    position: absolute;
    z-index: 100;
}

/* modal styles */
.delete-message{
	text-align: center;
	padding: 10px;
}
.delete-message button{
	margin-right: 10px;
}

/* responsive styles */
/* mobile styles */
@media screen and (max-width: 600px){
	li.item span{
		display: block;
	}
	li.item .doneClass > span.doneMessage{
		display: inline-block;
		width: 40%;
		margin-top: 10px;
	}
	a.delete-event{
		margin-top: 10px;
	}
}